[Unit]
Description=A privileged helper for the hasher project
ConditionVirtualization=!container
Documentation=man:hasher-priv(8)

[Service]
ExecStart=/usr/sbin/hasher-privd
Group=hashman
RuntimeDirectory=hasher-priv
RuntimeDirectoryMode=0710
Restart=on-failure
# preserve running jobs over daemon restarts and package upgrades
KillMode=process

[Install]
WantedBy=multi-user.target
